main{
  display: flex;
  flex-direction: column;
  place-content: center;
}

img {
  width: 100%;
  max-width: 600px;
}


.image-loading {
  animation: loadingAnimation 3s ease-in-out infinite;
  background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(200, 199, 199));
  background-size: 400% 400%;
  max-width: 600px;
  height: 400px;
}

@keyframes loadingAnimation {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
